/turapp-android/gradlew
/turapp-android/gradlew.bat
/turapp-android/local.properties
/turapp-android/settings.gradle
/turapp-android/TurApp.iml
/turapp-android/gradle
/turapp-android/app/app.iml
/turapp-android/app/libs
/turapp-android/app/build
/turapp-android/app/build.gradle
/turapp-android/app/proguard-rules.pro
/turapp-android/app/src/androidTest
/turapp-android/app/src/debug
/turapp-android/app/src/release
/turapp-android/app/src/main/AndroidManifest.xml
/turapp-android/.idea
/turapp-android/.gradle
/6120_9.zip
/turapp-backend/mvnw
/turapp-backend/mvnw.cmd
/turapp-backend/target
/turapp-backend/turapp.iml
/turapp-backend/src/main/resources
/turapp-backend/.project
/turapp-backend/.idea
/turapp-backend/.mvn
/turapp-backend/.settings
/turapp-backend/.classpath


